* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-container ul li:hover {
  color: #fff; 
}


ul li a {
  gap: 5px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navbar-container {
  height: 100vh;
  width: 25%;
  color: #fff;
  font-size: 16px;
  background-color: #1b1a1a;
  text-rendering: optimizeLegibility;  
}


li {
  margin: 22px 30px;
}

.nav-list {
  margin: 20px 5px;
  background-color: #393737;
  color: #b1abab;
  border-radius: 10px;
  padding: 20px 1px;
  height: 200px;
  font-size: 20px;

}  
.active{
  color: white;
}

@media screen and (max-width: 468px) {

  .navbar-container{
    display: inline;
    background-color: #121212;
  }
}

@media screen and (max-width: 768px) {
  .navbar-container {
    width: 34%;
    background-color: #121212;
    display: block;
  }
  li .li {
    display: none;
    background-color: none;
  }
  .nav-list {
    height: 0;
    width: 0;
    background-color: none;
    color: none;
    border-radius: none;
    font-size: 18px;
  }
  ul li {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 0px 2px;  
  }
 
  ul.nav-open {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start; 
  }

  .home{
    display: none;
  }
}